.rating {
    background-color: var(--color-red);
    border-radius: 30px;
    color: var(--color-white);

    display: flex;
    align-items: center;
    gap: 5px;

    width: fit-content;

    padding: 1px 10px 1px 6px;

    font-size: 12px;
    font-weight: 600;
}

.star {
    min-width: 12px;
    max-width: 12px;
}